[submodule "bundle/CoVim"]
	path = bundle/CoVim
	url = git://github.com/FredKSchott/CoVim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-arduino-ino"]
	path = bundle/vim-arduino-ino
	url = git://github.com/jplaut/vim-arduino-ino/
[submodule "bundle/vim-afterimage"]
	path = bundle/vim-afterimage
	url = git://github.com/tpope/vim-afterimage.git
[submodule "bundle/slimv"]
	path = bundle/slimv
	url = https://github.com/kovisoft/slimv 
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
